@font-face {
    font-family: 'GG Sans Bold';
    src: url(./ggsans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GG Sans Normal';
    src: url(./ggsans-Normal.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GG Sans Semibold';
    src: url(./ggsans-Semibold.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #303030;
    color: #DCDCDC;
}

.container {
    max-width: 70vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    aspect-ratio: 6 / 8;
    margin: 10vh auto;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(30deg, #880000, #202020);
}

.container2 {
    max-width: 100%;
    display: flex;
    max-height: 148px;
    padding: 10px;
}

.pfp {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.username {
    text-align: center;
    align-items: center;
    width: 90%;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'GG Sans Bold', sans-serif;
}

h6 {
    font-family: 'GG Sans Normal', sans-serif;
}

.description {
    font-family: 'GG Sans Semibold', sans-serif;
    height: calc(100% - 148px - 54px);
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
    max-height: 54px;
}

.icon {
    height: 54px;
    width: 54px;
    padding: 6px;
}